@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('./animations.css');

:root {
  --main-color: #d7306d;
  --txt-color: #000;
  --main-background-color: #fcfcfc;
  --secondary-background-color: #f4f5ff;
  --light-background-color: #fff9fb;
  --border-color:#e3e3e3;
  --white :#fff;
  --blue: #03A9F4;
  --dark-blue: #2d3eb2;
  --grey:#37464f;
}

* {
  box-sizing: border-box;
  margin: 0;
}

#app {
  @include center-flex;
  font-family: 'Open Sans', sans-serif;
  background: var(--main-background-color);
  padding: 2%;
  min-height: 100vh;
  text-align: center;
  color: var(--txt-color);
  display: flex;
  align-items: center;
  justify-content: center;
  

  .card {
    max-width: 600px;
    width: 96%;
    border-radius: 30px;
    background: var(--white);
    box-shadow: 0px 0px 23px -4px rgba(0, 0, 0, 0.25);
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: scale-up-ver-top 0.8s both;

    h3 {
      width: 100%;
      text-align: left;
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    .b-text {
      font-weight: 700;
      color: var(--txt-color);
      margin-left: 10px;
    }

    .line {
      width: 100%;
      margin: 3px 0;
    }
  }

  .dp__today,.dp__active_date {
    border-color: var(--main-color);
    background: var(--main-color);
    border-radius: 50%;
    color:var(--white);
}

span.dp__inner_nav svg path {
    fill: var(--main-color);
}

.dp__calendar_header {
    color: var(--main-color);
}
}